#map {
    background: #ccc;
}

#map div.leaflet-tile-pane {
    /*opacity: 0.4;*/
}

ul{ 
   list-style-type: none;
}

.legend-box {
	display: none;
}

.leaflet-left .leaflet-control {
	float: right;
	clear: none;
}

.customControl.leaflet-control span.glyphicon {
	display: none;
}

.leaflet-container .leaflet-control-search,
.leaflet-control-search .search-input {
	border-radius: 0;
	border: none;
}

.leaflet-control-search .search-input,
.leaflet-control-search.search-exp,
.leaflet-container .leaflet-control-search {
	border: none;
	box-shadow: none;
}

.leaflet-control-search .search-cancel {

	margin: 10px 0;

}

.leaflet-control-search .search-tooltip {

	max-height: 300px;
	box-shadow: none;
	background-color: #fff;
	border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial,sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);

}

.leaflet-control-search .search-tip {

	border-radius: 0;
	margin: 0;
	padding: 5px;
	background: none;

	cursor: default;
    padding: 0 4px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 13px;
    color: #000;

}

.leaflet-control-search .search-tip:hover {

	background-color: #fafafa;

}

.leaflet-control input,.leaflet-control-search input.search-input {

	border: none;
	box-shadow: none;
	outline: none;
	padding: 10px 28px;
	height: auto;
	margin: 0;

}

.leaflet-gac-container.leaflet-bar {
	box-shadow: none;
	border-radius: 0;
}

.leaflet-container .leaflet-control-search .search-button {
	display: none;
}

/*
Zoom slider
*/

.leaflet-control-zoomslider {
	width: 2px;
	margin: auto;
	box-shadow: none;
	margin-left: 30px;
}

.leaflet-control-zoomslider .leaflet-control-zoomslider-in,
.leaflet-control-zoomslider .leaflet-control-zoomslider-out {
	display: none;

}


.leaflet-control-zoomslider-body {
	width: 2px;
	border-width: 0px 1px 0px 1px;
}

.leaflet-control-zoomslider-knob {
	width: 12px;
	height: 12px;
	border-radius: 100%;
}

body.front ,
body.page-map ,
body.page-black ,
body.page-white {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

body.front #pageWrapper,
body.page-map #pageWrapper,
body.page-black #pageWrapper,
body.page-white #pageWrapper{
	position: absolute;
	top: 0;
	bottom: 110px;
	left: 0;
	right: 0;
}

body.front #pageWrapper .contentWrapper ,
body.page-map #pageWrapper .contentWrapper ,
body.page-black #pageWrapper .contentWrapper ,
body.page-white #pageWrapper .contentWrapper {
	height: 100%;
	min-height: 0;
}


body.front #map,
body.page-map #map,
body.page-black #map,
body.page-white #map{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto !important;
}


body.front #pageWrapper .tools-container ,
body.page-map #pageWrapper .tools-container ,
body.page-black #pageWrapper .tools-container ,
body.page-white #pageWrapper .tools-container {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 1000;
}

body.front #page_footer,
body.page-map #page_footer,
body.page-black #page_footer,
body.page-white #page_footer{
	position: fixed;
	bottom: 0;
	left: 0;
  right: 0;
}

/*#search-select { 
    height: 30px;
    width: 150px;
    border: 1px #000 solid;
}

#search-select li { padding: 5px 10px; z-index: 2; }
#search-select li:not(.init) { float: left; width: 130px; display: none; background: #ddd; }
#search-select li:not(.init):hover, #search-select li.selected:not(.init) { background: #09f; }


li.init { cursor: pointer; }
*/
a#submit { z-index: 1; }

.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
/*.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
  */
.custom-popup .leaflet-popup-tip {
   background:#2c3e50;
  }

  .tools-container .add-resource {
  	font-size: 28px;
  	margin: 10px;
  	padding: 3px;

  }

  .tools-container .add-resource:hover {
  	color: #fff;
  }

  /* Marker Clusters */
  /* colors */

  .marker-cluster-small {
  	background-color: rgba(204, 204, 0, 0.6);
  }

  .marker-cluster-small div {
  	background-color: rgba(255, 255, 0, 0.6);
  }

  .marker-cluster-medium {
  	background-color: rgba(204, 114, 0, 0.6);
  }

  .marker-cluster-medium div {
  	background-color: rgba(255, 165, 0, 0.6);
  }

  .marker-cluster-large {
  	background-color: rgba(204, 0, 0, 0.6)
  }

  .marker-cluster-large div {
  	background-color: rgba(255, 0, 0, 0.6)
  }

  .marker-cluster span {
  	font-weight: bold;
  }

  .marker-cluster-small div{
	width: 20px;
	height: 20px;
  }

  .marker-cluster-small span{
	line-height: 20px;
  }
  
  .marker-cluster-medium span{
  	color: #fff;
  }

  .marker-cluster-large div{
	width: 40px;
	height: 40px;

  }

  .marker-cluster-large span{
  	line-height: 40px;
  	color: #fff;
  }