.navbar-nav > li {
	padding: 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	max-width: 200px;

}

.navbar-brand img {
	width: 100%;
}

.leaflet-top {
	top: 100px;

}

.padding-small {
	padding-top: 40px;
	padding-bottom: 40px;	
}

/* Search styles */
.discovery-search .form-item {
	display: inline-block;
}

.discovery-search label {
	display: none;
}

.discovery-search .form-text,

.form-submit{
	padding: 13px;
  border: none;
  transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
}

.form-submit:hover {
  background-color: #202020;
  color: #fff;
}


.discovery-search .form-text{
	width: 800px;
}

.discovery-search .form-submit{
	width: 100px;
	margin-left: -99px;
}

.owl-stage .owl-item {
	float: left;
}

.owl-nav {
	position: relative;
}

.owl-nav .owl-prev,.owl-nav .owl-next {
	position: absolute;
}

.owl-prev {
	left: 0;
}


.owl-next {
	right: 0;
}

.owl-dots {
	display: none;
}

  /* Footer rules */


.footer-white {
  background: #fff;
}


  .logo-wrap {
	position: relative;
	display: inline-block;
  }

  .logo-wrap .version {
    position: absolute;
    right: 0;
    top: -17px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 10px 3px;
    border-radius: 100%;
    color: #000;
  }

  .footer-white .logo-wrap .version {
	color: #fff;
	background: #000;
  }

  .footer-main-logo {
  	width: 200px;
  }

  .powered-txt {
  	font-size: 21px;
    color: #fff;
    padding: 0 0 0 30px;
    line-height: 61px;
  }
	
  .footer-white .powered-txt {
	color: #000;
  }	

  .footer-sec-logo {
  	width: 110px;
  }

#page_footer {
  padding: 25px 0 !important;
}
  /* Misc css */
.ajax-progress .throbber {
  background: transparent url(../images/loader.gif) no-repeat 0px center;
  height: 25px;
  width: 25px;
}

#modal-content .webform-component {
  padding: 5px;
}

#modal-content .webform-component label {
  display: block;
  float: none;
}

input.form-text {
  padding: 10px;
}

.toggleme {
  padding: 5px 0;  
  cursor: pointer;
}

#modal-content .toggleme {
  font-size: 12px;
}

img {
  max-width: 100%;
}

.list-item {
    padding: 0 0 12px 0;
    font-size: 14px;
} 

.owl-carousel-block_28 .owl-nav {
  padding-top: 30px;
}

.owl-nav > div {
  cursor: pointer;
  padding: 5px;
}

/* Navigation */
.navbar-brand.hide {
  display: none !important;
}

.navbar-brand.show {
  display: block !important;
}

.cbp-l-grid-blog-title.small {
  font-size: 20px;
}

.owl-prev, .owl-next {
  text-indent: -9000px;
}

.owl-prev {
  left: 13px;
}

.owl-next {
  right: 13px;
}

.owl-prev:after {
  content: '\f104';
  font-family: 'Fontawesome';
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  font-size: 50px;
} 

.owl-next:after {
  content: '\f105';
  font-family: 'Fontawesome';
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  font-size: 50px;
} 

.row-padding-up {
  padding-top: 130px;
}

.row-padding-bottom {
  padding-bottom: 130px;
}

/* Search listing */

.search-api-page-results {
  padding-left: 50px;
  padding-right: 50px;
}
.search-results {
  padding-right: 15px;
}

.static {
  position: static;
}

.search-results .node-teaser h3,
.search-results .node-teaser h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.search-results .node-teaser {
  margin-bottom: 20px;
  padding: 10px 10px 20px 10px;
  position: relative;
}

.search-results .node-teaser .read-more {
  position: absolute;
  right: 80px;
  bottom: 10px;
}

.node-teaser .field-type-addressfield {
  float: left;
}

.address-wrap {
  padding: 10px 0;
}

.address-wrap .fa {
  font-size: 20px;
}

.node-teaser .read-more .node-readmore {
  margin: 0;
}

.node-teaser .read-more .node-readmore:after {
  content: "\f105";
  font-family: Fontawesome; 
  font-size: 30px;
  padding-left: 8px;
  vertical-align: bottom;
}

/* FACETS */

.facetapi-limit-link {
    padding: 13px 0;
    font-weight: bold;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
}


.search-api-page-results aside .media-container {
  margin-bottom: 40px;

}

.search-api-page-results aside .media-container h4 {
  padding-bottom: 7px;
}

.search-api-page-results aside .media-container .item-list li {
  padding: 3px 0;
  
}

p {
  line-height: 26px;
}

/* Full page content */
.node .field {
  padding: 15px 0;
}

.sidebar-list-item {
    color: #505050;
    font: 400 16px/22px 'Raleway', sans-serif;
    letter-spacing: .1em;
    padding: 4px 0;
}

#blog-main .row-padding {
  padding-top: 30px;
}


/* Not found page */
.not-found-logo {
  max-width: 400px;
}

.not-found-icon {
  font-size: 10em;
  margin: 40px 0;
  color: #888;
}

.not-found-home {
  font-size: 28px;
  margin-top: 20px;
  display: inline-block;
  font-weight: bold;
}
