@charset "utf-8";
/* CSS Document */

footer .container {
	padding-bottom: 0px !important;
}

body.page-node-2 ul.tabs{
	margin: 20px 50px;
	display: flex;
}
body.page-node-2 ul.tabs a{
	border: 1px solid #444444;
	padding: 5px;
	margin-right: 10px;
}

form.contact-form label, form.contact-form input[type=checkbox]{
	visibility: hidden;
}
form.contact-form input[type=text]{
	margin-bottom: 25px;
	background: none;
	border: 1px solid #999999;
	border-top: none;
	border-right: none;
	width: 100%;
	padding: 10px 10px 18px;
}
form.contact-form textarea {
	background: none;
	border: 1px solid #999999;
	border-top: none;
	border-right: none;
	width: 100%;
	padding: 10px 10px 18px;
}
form.contact-form {
	font:400 12px/16px 'Raleway', sans-serif;	
}
form.simplenews-subscribe{
	margin-bottom: 25px;	
}
form.simplenews-subscribe input[type=submit]{
	padding: 13px 28px;
	font-size: 16px;
	color: #ffffff;
	background-color: #a79759;
	border: 2px solid #a79759;
	text-transform: uppercase;
	letter-spacing: .1em;
}
form.simplenews-subscribe input[type=submit]:hover{
	background-color: rgb(179,166,112);
	border-color: rgb(179,166,112);
}
form.simplenews-subscribe .form-item {
	width: 66.66666667%;
	float: left;
}
form.simplenews-subscribe .form-item input[type=text]{
	width: 100%;
	height: 50px;
	padding: 10px 16px;
	font-family: 'Raleway', sans-serif;
	border: 1px solid #e9e9e9;
	font-size: 18px;
}

form.contact-form .form-actions{
	text-align: right;	
}

form.contact-form .form-actions input[type=submit],.comment-form input[type=submit],#user-login input[type=submit], #user-register-form input[type=submit], #user-pass input[type=submit], body.page-search input[type=submit]{
	font-size: 14px;
	color: #202020;
	border: 2px solid #202020;
	background-color: #ffffff;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 25px;
	padding: 10px 15px;
}
form.contact-form .form-actions input[type=submit]:hover, .comment-form input[type=submit]:hover, #user-login input[type=submit]:hover, #user-register-form input[type=submit]:hover, #user-pass input[type=submit]:hover, body.page-search input[type=submit]:hover{
	background-color: #202020;
	color: #ffffff;
}
#portfolio-grid-container {
	margin-bottom: 50px;	
}

.admin-menu .navbar-fixed-top {
	top: inherit;	
}
.admin-menu .goToTop {
	margin-top: 29px;
}

#searchform .form-actions input[type=submit], #search-block-form .form-actions input[type=submit]{
	display: none;
}

.blog-siderbar input[type=text]{
	width: 100%;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	display: block;
	border-radius: 0;
	box-shadow: none;
	height: 40px;
	padding: 0 35px 0 20px;
	border-color: rgba(32, 32, 32, 0.2);
	font-size: 15px;
	line-height: 25px;
	color: #909090;
}

.comment-form input[type=text], .comment-form textarea , .coming-soon .contact-form input[type=text], .coming-soon .contact-form textarea, .id-contact.parallax input[type=text], .id-contact.parallax textarea, #user-login input[type=text], #user-login input[type=password], #user-register-form input[type=text], #user-pass input[type=text], body.page-search input[type=text], .id-contact.parallax input[type=text]{
	color: #909090;
	font: 400 12px/16px 'Raleway', sans-serif;
	border-radius: 0;
	padding: 15px 18px;
	height: auto;
	display: block;
	width: 100%;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}

.comment-form fieldset {
	border: 1px solid #ccc;
}

.navbar-static-top {
	z-index: 500;	
}

#user-login, #user-register-form, #user-pass{
	margin-left: 20%;
	width: 60%;
}
.coming-soon .contact-form textarea {
	height: 166px;
}

.coming-soon .contact-form .form-actions input[type=submit], .id-contact.parallax .contact-form .form-actions input[type=submit]{
	background: #a79759;
	color: #ffffff;
	border: none;
}

ul.tabs.primary {
	display: -webkit-box;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 20px;
}
ul.tabs.primary a{
	margin-right: 10px;
	border: 1px solid #202020;
	padding: 5px 10px;
}
ul.tabs.primary a:hover {
	background-color: #202020;
	color: #ffffff;
}

body.page-search input[type=submit] {
	margin-bottom: 20px;	
}

.navbar-fixed-top {
	z-index: 500;	
}
.minimal .cbp-l-grid-blog-desc {
	margin-top: 0px;	
}
.minimal .cbp-l-grid-blog-desc p{
	display: none;
}

.node-type-blog .img-responsive{
	width:100%;
}